.carousel-wrap {
    margin: 0px auto;
    /* padding: 0 5%; */
    width: 100%;
    position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav>div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
}

.owl-nav i {
    font-size: 52px;
}

.owl-nav .owl-prev {
    left: -30px;
}

.owl-nav .owl-next {
    right: -30px;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    padding: 20px;
    height: 300px;
    border-radius: 40px;
    object-fit: cover;
}

.owl-carousel .item div > span {
    font-size: 20px;
    font-family: 'Montserrat-Bold';
}